.fieldset {
    border: 1px solid var(--ui-border-dark);
    /* XP Border Dark */
    border-radius: 3px;
    padding: 5px 8px;
    margin-bottom: 8px;
    position: relative;
    background-color: transparent;
    display: flex;
    /* Assuming parent background */
}

.legend {
    font-size: 11px;
    color: var(--color-text-xp-blue);
    /* Similar blue to title bar text or just dark blue */
    padding: 0 3px;
    margin-left: 5px;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2px;
}