.contextMenu {
    position: fixed;
    background-color: var(--xp-legacy-gray);
    border: 2px solid var(--color-text-xp-light);
    border-right-color: var(--color-text-xp-dark);
    border-bottom-color: var(--color-text-xp-dark);
    ;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    padding: 2px;
    z-index: 9999;
    min-width: 150px;
    font-size: 13px;
    cursor: default;
}

.menuItem {
    padding: 4px 20px 4px 25px;
    color: var(--color-text-primary);
    transition: background-color 0.1s, color 0.1s;
}

.menuItem:hover {
    background: var(--xp-taskbar-active);
    color: var(--color-text-light);
}