.contextMenu {
    position: fixed;
    background-color: #fff;
    border: 1px solid #ACA899;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    padding: 2px;
    z-index: 9999;
    min-width: 150px;
    font-family: var(--font-tahoma);
    font-size: 13px;
    cursor: default;
}

.menuItem {
    padding: 4px 20px 4px 25px;
    color: #000;
    transition: background-color 0.1s, color 0.1s;
}

.menuItem:hover {
    background-color: #316AC5;
    color: #fff;
}