.body {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0;
}

.icon {
    flex-shrink: 0;
}

.message {
    color: var(--color-text-primary);
    font-size: 13px;
    line-height: 1.4;
}