.tabs {
    display: flex;
    gap: 5px;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #999;
}

.tab {
    padding: 5px 10px;
    border: 1px solid #999;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    background: var(--ui-bg-gray);
    cursor: pointer;
    font-size: 12px;
    transition: all 0.1s ease;
}

.tab:hover {
    background: var(--xp-bg);
}

.tab.active {
    background: var(--xp-bg);
    font-weight: bold;
    position: relative;
    top: 1px;
    border-bottom: 1px solid var(--xp-bg);
}