.gridContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 10px;
    gap: 10px;
    pointer-events: none;
    /* Let clicks pass through empty areas */
}