.statBadge {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
}

.icon {
    font-size: 12px;
}

.label {
    font-size: 10px;
    font-weight: normal;
}