.statBadge {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 2px;
    white-space: nowrap;
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
}

.icon {
    font-weight: normal;
}

.label {
    font-size: 12px;
    font-weight: normal;
    margin-left: 2px;
}

.monoValue {
    font-family: 'Courier New', Courier, monospace;
}