.container {
    padding: 10px;
}

.currentJobSection {
    margin-bottom: 20px;
}

.divider {
    margin: 15px 0;
    border: none;
    border-top: 1px solid #ACA899;
}

.jobItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.availableTitle {
    margin-bottom: 10px;
}