.container {
    padding: 10px;
}

.currentJobSection {
    margin-bottom: 20px;
}

.divider {
    margin: 15px 0;
    border: none;
    border-top: 1px solid #ACA899;
}

.jobList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.jobItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #ACA899;
    background: #fdfdfd;
}

.jobInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.jobTitle {
    font-weight: bold;
}

.requirements {
    font-size: 0.8em;
    color: #666;
}

.reqTitle {
    font-weight: bold;
    margin-right: 5px;
}

.reqList {
    font-style: italic;
}

.availableTitle {
    margin-bottom: 10px;
}