.statListSection {
    margin-top: 0;
    flex: 1;
}

.label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-text-secondary);
    margin-bottom: 5px;
}


.free {
    font-weight: normal;
    background: linear-gradient(90deg,
            #ff0000,
            #ff7f00,
            #cdae01,
            #00ff00,
            #0000ff,
            #4b0082,
            #9400d3,
            #ff0000);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: rainbow 3s linear infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

.uiList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 0;
    padding-left: 0px;
    list-style: none;
}

.costList li::marker {
    font-weight: bold;
}


.effectList li::marker {
    font-weight: bold;
}

.uiListItem {
    align-items: center;
    font-size: 12px;
    position: relative;
    display: inline-flex;
    gap: 6px;
}

.costIcon {
    color: var(--status-error);
    flex-shrink: 0;
}

.effectIcon {
    color: var(--status-success);
    flex-shrink: 0;
}