.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
}

.categoryGroup {
    border: 1px solid #ACA899;
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}

.categoryTitle {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #003399;
    border-bottom: 1px solid #ECE9D8;
    padding-bottom: 4px;
}

.partsList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.partTitle {
    display: flex;
    align-items: center;
    gap: 4px;
}

.subtitle {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 4px;
}

.ownedBadge {
    display: inline-block;
    background: #008000;
    color: white;
    padding: 2px 6px;
    font-size: 10px;
    border-radius: 2px;
    font-weight: bold;
    margin-left: 8px;
}

.levelBadge {
    display: inline-block;
    color: white;
    padding: 1px 4px;
    font-size: 8px;
    border-radius: 2px;
    margin-left: 4px;
    vertical-align: middle;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: #494f49;
}

.summary {
    background: #ECE9D8;
    padding: 10px;
    border: 1px solid #ACA899;
    margin-top: 10px;
    font-size: 12px;
}

.summaryRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currentLevel {
    font-weight: bold;
    background: #888888;
}

.levelBadge_0 {
    background: #888888;
}

.levelBadge_1 {
    background: #689f38;
}

.levelBadge_2 {
    background: #0054E3;
}

.levelBadge_3 {
    background: #f57c00;
}

.levelBadge_4 {
    background: #d81b60;
}

.levelBadge_5 {
    background: linear-gradient(135deg, #800080 0%, #4B0082 100%);
    box-shadow: 0 0 5px rgba(128, 0, 128, 0.4);
}