.itemRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--ui-border-separator);
    margin-bottom: 5px;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.itemName {
    font-weight: bold;
    margin-bottom: 4px;
}

.itemCost {
    font-size: 10px;
    color: var(--color-text-muted);
}