.container {
    width: 100%;
    background: #dfdfdf;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.fill {
    height: 100%;
    background: #000080;
    transition: width 0.3s linear;
}

.green {
    background: var(--color-text-success);
}

.text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: white;
    mix-blend-mode: difference;
    font-weight: bold;
    pointer-events: none;
}